table.queryResults {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 100%;
	border-collapse: collapse;
	empty-cells: show;
	white-space: pre;
	counter-reset: trflag;
}

table.queryResults td,th {
	font-size: 1em;
	border: 1px solid #98bf21;
	padding: 3px 7px 2px 7px;
}

table.queryResults th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #A7C942;
	color: #ffffff;
}



table.queryResults tr.even {
	background-color: #EEFFDD;
}

table.queryResults tr:hover {
	background-color: #AAF2D3;
}

table.queryResults div.left{
	float:left;
}

table.queryResults div.right{
	float:right;
}