table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

table.queryResults {
	width: 100%;
	empty-cells: show;
	white-space: pre;
	counter-reset: trflag;
}

td,th {
	font-size: 1em;
	border: 1px solid #98bf21;
	padding: 3px 7px 2px 7px;
}

th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #A7C942;
	color: #ffffff;
}

tr.even {
	background-color: #EEFFDD;
}

table.queryResults tr:hover {
	background-color: #AAF2D3;
}

table.adminList tr:hover {
	background-color: #AAF2D3;
}
div.left {
	float: left;
}

div.right {
	float: right;
}