<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">



	<!--this is graphical log related beans -->
	<bean id="graphicLogService" class="graphicallog.service.GraphicalLogServiceImp"></bean>
	<bean id="graphicalLog" scope="prototype"
		class="graphicallog.action.GraphicalLogAction">
		<property name="graphicalLog" ref="graphicLogService" />
	</bean>

	<!--this is test related beans -->
	<bean id="test" class="telnet.action.Test">
	</bean>


	<!--this is telnet related beans -->
	<bean id="telnetService" class="telnet.service.TelnetServiceDbImp"  scope="prototype"></bean>
	<bean id="telnetAction" class="telnet.action.TelnetAction">
		<property name="telnetService" ref="telnetService" />
	</bean>

<!--this is hibernate related beans -->
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="MYSQL" />
				<property name="showSql" value="true" />
			</bean>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/test" />
		<property name="username" value="root" />
		<property name="password" value="operator" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>